In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from ipywidgets import IntProgress, Layout
import ipywidgets as widgets
from IPython.display import display
from IPython.display import clear_output
import matplotlib as mpl
import locale
mpl.rc("font", family = "Noto Sans CJK TC")
import time

# 水協 游泳池 資料統計

In [2]:
page = 399
水協_生肉 = pd.DataFrame()
for i in range(1,page+1):
    url = "http://www.lifeguard.utaipei.edu.tw/D022.php?cid=49&keys=&r1=&page=%d" %(i)
    data = pd.read_html(url)
    水協_生肉 = 水協_生肉.append(data[0][1:],ignore_index = True)
    time.sleep(0.5)
print("爬完")

爬完

In [3]:
水協_生肉.head()

           單位 證照資格   姓名            證照號碼       證照生效日       證照有效日
0  中華民國水上救生協會  游泳池  高Ｏ姮  水協字第RSP190181號  2019-12-19  2022-12-18
1  中華民國水上救生協會  游泳池  邱Ｏ傑  水協字第RSP190067號  2019-12-11  2022-12-10
2  中華民國水上救生協會  游泳池  范Ｏ硯  水協字第RSP190071號  2019-12-11  2022-12-10
3  中華民國水上救生協會  游泳池  王Ｏ樹  水協字第RSP190142號  2019-12-11  2022-12-10
4  中華民國水上救生協會  游泳池  簡Ｏ庭  水協字第RSP190175號  2019-11-19  2022-11-18

In [4]:
string = 水協_生肉.to_csv(index=False)
with open("水協_游泳池.csv", 'w') as f:
    f.write(string)

# 水運 游泳池

In [5]:
page = 158
水運_生肉 = pd.DataFrame()
for i in range(1,page+1):
    url = "http://www.lifeguard.utaipei.edu.tw/D033.php?cid=51&keys=&r1=2&page=%d" %(i)
    data = pd.read_html(url)
    水運_生肉 = 水運_生肉.append(data[0][1:],ignore_index = True)
    time.sleep(0.5)
print("爬完")

爬完

In [8]:
水運_生肉.head()

           單位 證照資格   姓名            證照號碼       證照生效日       證照有效日
0  中華民國水中運動協會  游泳池  黃Ｏ凱  水運字第RSP190042號  2020-03-01  2023-02-28
1  中華民國水中運動協會  游泳池  黃Ｏ章  水運字第RSP190043號  2020-03-01  2023-02-28
2  中華民國水中運動協會  游泳池  鄭Ｏ茂  水運字第RSP190045號  2020-03-01  2023-02-28
3  中華民國水中運動協會  游泳池  彭Ｏ杰  水運字第RSP190058號  2019-12-30  2022-12-29
4  中華民國水中運動協會  游泳池  吳Ｏ欽  水運字第RSP190048號  2019-12-23  2022-12-22

In [7]:
string = 水運_生肉.to_csv(index=False)
with open("水運_游泳池.csv", 'w') as f:
    f.write(string)

# 紅會 游泳池

In [9]:
page= 102
紅會_生肉 = pd.DataFrame()
for i in range(1,page+1):
    url = "http://www.lifeguard.utaipei.edu.tw/D044.php?cid=21&keys=&r1=2&page=%d" %(i)
    data = pd.read_html(url)
    紅會_生肉 = 紅會_生肉.append(data[0][1:],ignore_index = True)
    time.sleep(0.5)
print("爬完")

爬完

In [11]:
紅會_生肉.head()

           單位 證照資格   姓名         證照號碼       證照生效日       證照有效日
0  中華民國紅十字會總會  游泳池  邱Ｏ源  紅會字第190094號  2019-11-23  2022-11-22
1  中華民國紅十字會總會  游泳池  龔Ｏ誠  紅會字第190095號  2019-11-23  2022-11-22
2  中華民國紅十字會總會  游泳池  謝Ｏ涓  紅會字第190096號  2019-11-23  2022-11-22
3  中華民國紅十字會總會  游泳池  謝Ｏ璟  紅會字第190097號  2019-11-23  2022-11-22
4  中華民國紅十字會總會  游泳池  林Ｏ斌  紅會字第190098號  2019-11-23  2022-11-22

In [10]:
string = 紅會_生肉.to_csv(index=False)
with open("紅會_游泳池.csv", 'w') as f:
    f.write(string)

# 海爆 游泳池

In [12]:
page= 157
海爆_生肉 = pd.DataFrame()
for i in range(1,page+1):
    url = "http://www.lifeguard.utaipei.edu.tw/D055.php?cid=50&keys=&r1=2&page=%d" %(i)
    data = pd.read_html(url)
    海爆_生肉 = 海爆_生肉.append(data[0][1:],ignore_index = True)
    time.sleep(0.5)
print("爬完")

爬完

In [13]:
string = 海爆_生肉.to_csv(index=False)
with open("海爆_游泳池.csv", 'w') as f:
    f.write(string)

# 泳救 游泳池

In [14]:
page= 107
泳救_生肉 = pd.DataFrame()
for i in range(1,page+1):
    url = "http://www.lifeguard.utaipei.edu.tw/D066.php?cid=52&keys=&r1=2&page=%d" %(i)
    data = pd.read_html(url)
    泳救_生肉 = 泳救_生肉.append(data[0][1:],ignore_index = True)
    time.sleep(0.5)
string = 泳救_生肉.to_csv(index=False)
with open("泳救_游泳池.csv", 'w') as f:
    f.write(string)

# 海總 游泳池

In [15]:
page= 31
海總_生肉 = pd.DataFrame()
for i in range(1,page+1):
    url = "http://www.lifeguard.utaipei.edu.tw/D077.php?cid=53&keys=&r1=2&page=%d" %(i)
    data = pd.read_html(url)
    海總_生肉 = 海總_生肉.append(data[0][1:],ignore_index = True)
    time.sleep(0.5)
string = 海總_生肉.to_csv(index=False)
with open("海總_游泳池.csv", 'w') as f:
    f.write(string)

# 輔英 游泳池

In [16]:
page= 3
輔英_生肉 = pd.DataFrame()
for i in range(1,page+1):
    url = "http://www.lifeguard.utaipei.edu.tw/D088.php?cid=150&keys=&r1=2&page=%d" %(i)
    data = pd.read_html(url)
    輔英_生肉 = 輔英_生肉.append(data[0][1:],ignore_index = True)
    time.sleep(0.5)
string = 輔英_生肉.to_csv(index=False)
with open("輔英_游泳池.csv", 'w') as f:
    f.write(string)

# 海龍 游泳池

In [17]:
page= 25
海龍_生肉 = pd.DataFrame()
for i in range(1,page+1):
    url = "http://www.lifeguard.utaipei.edu.tw/D099.php?cid=135&keys=&r1=2&page=%d" %(i)
    data = pd.read_html(url)
    海龍_生肉 = 海龍_生肉.append(data[0][1:],ignore_index = True)
    time.sleep(0.5)
string = 海龍_生肉.to_csv(index=False)
with open("海龍_游泳池.csv", 'w') as f:
    f.write(string)

# 水域 游泳池

In [18]:
page= 33
水域_生肉 = pd.DataFrame()
for i in range(1,page+1):
    url = "http://www.lifeguard.utaipei.edu.tw/D100.php?cid=136&keys=&r1=2&page=%d" %(i)
    data = pd.read_html(url)
    水域_生肉 = 水域_生肉.append(data[0][1:],ignore_index = True)
    time.sleep(0.5)
string = 水域_生肉.to_csv(index=False)
with open("水域_游泳池.csv", 'w') as f:
    f.write(string)

# 慧救 游泳池

In [19]:
page= 11
慧救_生肉 = pd.DataFrame()
for i in range(1,page+1):
    url = "http://www.lifeguard.utaipei.edu.tw/D054.php?cid=54&keys=&r1=2&page=%d" %(i)
    data = pd.read_html(url)
    慧救_生肉= 慧救_生肉.append(data[0][1:],ignore_index = True)
    time.sleep(0.5)
string = 慧救_生肉.to_csv(index=False)
with open("慧救_游泳池.csv", 'w') as f:
    f.write(string)